body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #C40404;
  padding: 10px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.formst{
margin-top: 150px;

}
.header a,
.header form,
.header button {
  transition: all 0.3s ease;
}

.featureddishes{
margin-bottom: 80px;
}

.header a:hover {
  transform: scale(1.1);
}

.header .navlogo {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.header h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
}

.header .form-control {
  background-color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
}

.header .btn-outline-light {
  border-radius: 20px;
  color: #fff;
  border: 2px solid #fff;
}

.header .btn-warning {
  border-radius: 20px;
  color: #C40404;
  border: none;
}

/* Submenu Styles */
.submenudirect-wrapper {
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: fixed;
  top: 90px;
  width: 100%;
  z-index: 999;
}

.submenudirect {
  display: flex;
  justify-content: center;
}

.submenudirect .nav-pills {
  display: flex;
  justify-content: center;
}

.submenudirect .nav-pills .nav-item {
  margin: 0 10px;
}

.submenudirect .nav-pills .nav-link {
  color: #555;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 30px;
  transition: all 0.3s ease;
}

.submenudirect .nav-pills .nav-link:hover,
.submenudirect .nav-pills .nav-link.active {
  background-color: #C40404;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.submenudirect .nav-pills .nav-link.active {
  font-weight: bold;
}



.carousel-item img {
  margin-top: 90px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.drawer {
  padding: 10px;
  border-radius: 10px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footeralign {
  margin-right: 200px;
}


/* Featured Items */
.featurette-divider {
  margin: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.featurette-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #C40404;
  font-weight: bold;
}

#featuredDishesCarousel {
  position: relative;
}

#featuredDishesCarousel .carousel-inner {
  border-radius: 15px;
  overflow: hidden;
}

#featuredDishesCarousel .carousel-item img {
  object-fit: cover;
  height: 500px;
}

#featuredDishesCarousel .carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 10px;
}

#featuredDishesCarousel .carousel-caption h5 {
  font-size: 1.5rem;
  color: #fff;
}

#featuredDishesCarousel .carousel-caption p {
  font-size: 1rem;
  color: #ddd;
}

#featuredDishesCarousel .carousel-control-prev-icon,
#featuredDishesCarousel .carousel-control-next-icon {
  filter: invert(100%);
}

#featuredDishesCarousel .carousel-indicators button {
  background-color: #C40404;
}

#featuredDishesCarousel .carousel-indicators .active {
  background-color: #ff8c00;
}

/* Introduction Section */
.container-xxl {
  background-color: #f9f9f9;
  padding: 5rem 0;
}

.featurette-divider {
  margin: 2rem 0;
  border-top: 1px solid #eaeaea;
}

.featurette-heading {
  text-align: center;
  font-size: 2.5rem;
  color: #C40404;
  font-weight: bold;
}

h1.mb-4 {
  font-size: 2rem;
  color: #333;
}

p.mb-4 {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}

.d-flex {
  display: flex;
  align-items: center;
}

.border-start {
  border-left: 5px solid #C40404;
}

.display-5 {
  font-size: 3rem;
}

.text-primary {
  color: #C40404 !important;
}

.btn-primary {
  background-color: #C40404;
  border-color: #C40404;
}

.btn-primary:hover {
  background-color: #ff8c00;
  border-color: #ff8c00;
}


/* Footer */
.footer {
  --heading-font: var(--default-font);
  color: var(--default-color);


  background-color: #4a2c2a;

  font-size: 14px;
  color: white;
  padding: 40px 0;
  position: relative;
}

.footer h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #f8f9fa;
}

.footer p {
  margin-bottom: 10px;
}

.footer .icon {
  font-size: 24px;
  color: #f8f9fa;
}

.footer .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.footer .social-links a:hover {
  background-color: #C40404;
  transform: scale(1.1);
}

.footer .social-links i {
  font-size: 20px;
}

.footer .address p {
  margin-bottom: 0px;
}

.footer .copyright {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copyright p {
  margin-bottom: 0;
}

.footer .credits {
  margin-top: 5px;
  font-size: 13px;
}


@media (max-width: 767px) {
  .footer .icon {
    font-size: 20px;
  }

  .footer .social-links a {
    width: 35px;
    height: 35px;
  }
}

.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}


/* Registration Form */

.gradient-custom-3 {
  background: #a52a2a;
  background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
  background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
  background: #a52a2a;
  background: -webkit-linear-gradient(to right, rgb(208, 218, 68), rgb(216, 233, 123));
  background: linear-gradient(to right, #a52a2a, rgb(221, 219, 86))
}



/* About */

.about{
  margin-top: 100px;
}

.abuthead {

color:#a52a2a ;


}

/* Book A Table Section*/

.bookingtitle {
  margin-top: 200px;
  text-align: center;
  font-size: 2.5rem;
  color: #C40404;
  font-weight: bold;

}

.bookingtitle {
  margin-top: 200px;
  text-align: center;
  font-size: 2.5rem;
  color: #C40404;
  font-weight: bold;

}

.bookbutton {
  color: #ffffff;
 background-color: #C40404;
  
}


.book-a-table .reservation-img {
  min-height: 500px;
  background-size: cover;
  background-position: center;
}

.book-a-table .reservation-form-bg {
  background: color-mix(in srgb, var(--default-color), transparent 97%);
}

.book-a-table .php-email-form {
  padding: 30px;
}

@media (max-width: 575px) {
  .book-a-table .php-email-form {
    padding: 20px;
  }
}

.book-a-table .php-email-form button[type=submit] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 14px 60px;
  transition: 0.4s;
  border-radius: 4px;
}

.book-a-table .php-email-form button[type=submit]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 20%);
}


/* Gallery  */
.gallery {
  overflow: hidden;
}

.gallery .swiper-wrapper {
  height: auto;
}

.gallery .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.gallery .swiper-pagination .swiper-pagination-bullet {
  background-color: color-mix(in srgb, var(--default-color), transparent 85%);
  border: 0;
  width: 12px;
  height: 12px;
  opacity: 1;
}

.gallery .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--accent-color);
  opacity: 1;
}

.gallery .swiper-slide-active {
  text-align: center;
}

@media (min-width: 992px) {
  .gallery .swiper-wrapper {
    padding: 40px 0;
  }

  .gallery .swiper-slide-active {
    background: var(--background-color);
    border: 6px solid var(--accent-color);
    padding: 4px;
    z-index: 1;
    transform: scale(1.2);
    transition: none;
  }
}

/* Events Section */

.eventmain{
margin-top:200px;

}
.events {
  background: url(../Photo/events-4.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.events::before {
  content: "";
  background-color: rgba(10, 10, 10, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.events .section-title h2 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  color: #faf5f5;
  text-align: center;
}


.events .container {
  position: relative;
}

@media (min-width: 1024px) {
  .events {
    background-attachment: fixed;
  }
}

.events .events-carousel {
  background: rgba(255, 255, 255, 0.08);
  padding: 30px;
}

.events .event-item {
  color: #fff;
}

.events .event-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #C40404;
}

.events .event-item .price {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin-bottom: 15px;
}

.events .event-item .price span {
  border-bottom: 2px solid #C40404;
}

.events .event-item ul {
  list-style: none;
  padding: 0;
}

.events .event-item ul li {
  padding-bottom: 10px;
}

.events .event-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #C40404;
}

.events .event-item p:last-child {
  margin-bottom: 0;
}

.events .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.events .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.events .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #faf3f3;
}

/* Signin Form */
.signinform{
  background-color: #ffffff;
  margin-top: 200px;
  margin-bottom: 200px;

}

/* Signupform */

.signupform{
background-color:#C40404;
margin-top: 180px;


}

/* Admin Dashboard */
.adminmain{
margin-top: 150px;
}

.adminmain h1{
text-align: center;

}

/* Admin Login page */


.adminlogin{
margin-top: 200px;
}

/* Staff login page */

.stafflogin{
margin-top: 200px;

}

/* Menu Section  */

.menu .nav-tabs {
  border: 0;
}

.menu .nav-link {
  background-color: var(--background-color);
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin: 0 15px;
  padding: 10px 5px;
  transition: 0.3s;
  border-radius: 0;
  cursor: pointer;
  height: 100%;
  border: 0;
  border-bottom: 2px solid color-mix(in srgb, var(--default-color), transparent 80%);
}

@media (max-width: 575px) {
  .menu .nav-link {
    margin: 0 10px;
    padding: 10px 0;
  }
}

.menu .nav-link i {
  padding-right: 15px;
  font-size: 48px;
}

.menu .nav-link h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  font-family: var(--default-font);
}

@media (max-width: 575px) {
  .menu .nav-link h4 {
    font-size: 16px;
  }
}

.menu .nav-link:hover {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.menu .nav-link.active {
  background-color: var(--background-color);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.menu .tab-content .tab-header {
  padding: 30px 0;
}

.menu .tab-content .tab-header p {
  font-size: 14px;
  text-transform: uppercase;
  color: color-mix(in srgb, var(--default-color), transparent 20%);
  margin-bottom: 0;
}

.menu .tab-content .tab-header h3 {
  font-size: 48px;
  font-weight: 700;
  color: var(--accent-color);
}

.menu .tab-content .menu-item {
  text-align-last: center;
}

.menu .tab-content .menu-item .menu-img {
  padding: 0 60px;
  margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
  font-family: var(--default-font);
}

.menu .tab-content .menu-item .ingredients {
  font-family: var(--nav-font);
  color: color-mix(in srgb, var(--default-color), transparent 50%);
  margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
  font-size: 24px;
  font-weight: 700;
  color: var(--accent-color);
}

/* Contact Section */

.contact .info-item {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.contact .info-item .icon {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  width: 56px;
  height: 56px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  margin-right: 15px;
}


/* Admin Login */

.adminlogin{
margin-top: 150px;



}

.bookingForm{
margin-top: 200px;

}